<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Spark-DataFrames-Project-Exercise" data-toc-modified-id="Spark-DataFrames-Project-Exercise-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Spark DataFrames Project Exercise</a></span><ul class="toc-item"><li><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Use-the-walmart_stock.csv-file-to-Answer-and-complete-the--tasks-below!" data-toc-modified-id="Use-the-walmart_stock.csv-file-to-Answer-and-complete-the--tasks-below!-1.0.0.1"><span class="toc-item-num">1.0.0.1&nbsp;&nbsp;</span>Use the walmart_stock.csv file to Answer and complete the  tasks below!</a></span></li><li><span><a href="#Start-a-simple-Spark-Session" data-toc-modified-id="Start-a-simple-Spark-Session-1.0.0.2"><span class="toc-item-num">1.0.0.2&nbsp;&nbsp;</span>Start a simple Spark Session</a></span></li><li><span><a href="#Load-the-Walmart-Stock-CSV-File,-have-Spark-infer-the-data-types." data-toc-modified-id="Load-the-Walmart-Stock-CSV-File,-have-Spark-infer-the-data-types.-1.0.0.3"><span class="toc-item-num">1.0.0.3&nbsp;&nbsp;</span>Load the Walmart Stock CSV File, have Spark infer the data types.</a></span></li><li><span><a href="#What-are-the-column-names?" data-toc-modified-id="What-are-the-column-names?-1.0.0.4"><span class="toc-item-num">1.0.0.4&nbsp;&nbsp;</span>What are the column names?</a></span></li><li><span><a href="#What-does-the-Schema-look-like?" data-toc-modified-id="What-does-the-Schema-look-like?-1.0.0.5"><span class="toc-item-num">1.0.0.5&nbsp;&nbsp;</span>What does the Schema look like?</a></span></li><li><span><a href="#Print-out-the-first-5-columns." data-toc-modified-id="Print-out-the-first-5-columns.-1.0.0.6"><span class="toc-item-num">1.0.0.6&nbsp;&nbsp;</span>Print out the first 5 columns.</a></span></li><li><span><a href="#Use-describe()-to-learn-about-the-DataFrame." data-toc-modified-id="Use-describe()-to-learn-about-the-DataFrame.-1.0.0.7"><span class="toc-item-num">1.0.0.7&nbsp;&nbsp;</span>Use describe() to learn about the DataFrame.</a></span></li></ul></li></ul></li><li><span><a href="#Bonus-Question!" data-toc-modified-id="Bonus-Question!-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Bonus Question!</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#There-are-too-many-decimal-places-for-mean-and-stddev-in-the-describe()-dataframe.-Format-the-numbers-to-just-show-up-to-two-decimal-places.-Pay-careful-attention-to-the-datatypes-that-.describe()-returns,-we-didn't-cover-how-to-do-this-exact-formatting,-but-we-covered-something-very-similar.-Check-this-link-for-a-hint" data-toc-modified-id="There-are-too-many-decimal-places-for-mean-and-stddev-in-the-describe()-dataframe.-Format-the-numbers-to-just-show-up-to-two-decimal-places.-Pay-careful-attention-to-the-datatypes-that-.describe()-returns,-we-didn't-cover-how-to-do-this-exact-formatting,-but-we-covered-something-very-similar.-Check-this-link-for-a-hint-1.1.0.1"><span class="toc-item-num">1.1.0.1&nbsp;&nbsp;</span>There are too many decimal places for mean and stddev in the describe() dataframe. Format the numbers to just show up to two decimal places. Pay careful attention to the datatypes that .describe() returns, we didn't cover how to do this exact formatting, but we covered something very similar. <a href="http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.Column.cast" target="_blank">Check this link for a hint</a></a></span></li><li><span><a href="#Create-a-new-dataframe-with-a-column-called-HV-Ratio-that-is-the-ratio-of-the-High-Price-versus-volume-of-stock-traded-for-a-day." data-toc-modified-id="Create-a-new-dataframe-with-a-column-called-HV-Ratio-that-is-the-ratio-of-the-High-Price-versus-volume-of-stock-traded-for-a-day.-1.1.0.2"><span class="toc-item-num">1.1.0.2&nbsp;&nbsp;</span>Create a new dataframe with a column called HV Ratio that is the ratio of the High Price versus volume of stock traded for a day.</a></span></li><li><span><a href="#What-day-had-the-Peak-High-in-Price?" data-toc-modified-id="What-day-had-the-Peak-High-in-Price?-1.1.0.3"><span class="toc-item-num">1.1.0.3&nbsp;&nbsp;</span>What day had the Peak High in Price?</a></span></li><li><span><a href="#What-is-the-mean-of-the-Close-column?" data-toc-modified-id="What-is-the-mean-of-the-Close-column?-1.1.0.4"><span class="toc-item-num">1.1.0.4&nbsp;&nbsp;</span>What is the mean of the Close column?</a></span></li><li><span><a href="#What-is-the-max-and-min-of-the-Volume-column?" data-toc-modified-id="What-is-the-max-and-min-of-the-Volume-column?-1.1.0.5"><span class="toc-item-num">1.1.0.5&nbsp;&nbsp;</span>What is the max and min of the Volume column?</a></span></li><li><span><a href="#How-many-days-was-the-Close-lower-than-60-dollars?" data-toc-modified-id="How-many-days-was-the-Close-lower-than-60-dollars?-1.1.0.6"><span class="toc-item-num">1.1.0.6&nbsp;&nbsp;</span>How many days was the Close lower than 60 dollars?</a></span></li><li><span><a href="#What-percentage-of-the-time-was-the-High-greater-than-80-dollars-?" data-toc-modified-id="What-percentage-of-the-time-was-the-High-greater-than-80-dollars-?-1.1.0.7"><span class="toc-item-num">1.1.0.7&nbsp;&nbsp;</span>What percentage of the time was the High greater than 80 dollars ?</a></span></li><li><span><a href="#In-other-words,-(Number-of-Days-High>80)/(Total-Days-in-the-dataset)" data-toc-modified-id="In-other-words,-(Number-of-Days-High>80)/(Total-Days-in-the-dataset)-1.1.0.8"><span class="toc-item-num">1.1.0.8&nbsp;&nbsp;</span>In other words, (Number of Days High&gt;80)/(Total Days in the dataset)</a></span></li><li><span><a href="#What-is-the-Pearson-correlation-between-High-and-Volume?" data-toc-modified-id="What-is-the-Pearson-correlation-between-High-and-Volume?-1.1.0.9"><span class="toc-item-num">1.1.0.9&nbsp;&nbsp;</span>What is the Pearson correlation between High and Volume?</a></span></li><li><span><a href="#Hint" data-toc-modified-id="Hint-1.1.0.10"><span class="toc-item-num">1.1.0.10&nbsp;&nbsp;</span><a href="http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrameStatFunctions.corr" target="_blank">Hint</a></a></span></li><li><span><a href="#What-is-the-max-High-per-year?" data-toc-modified-id="What-is-the-max-High-per-year?-1.1.0.11"><span class="toc-item-num">1.1.0.11&nbsp;&nbsp;</span>What is the max High per year?</a></span></li><li><span><a href="#What-is-the-average-Close-for-each-Calendar-Month?" data-toc-modified-id="What-is-the-average-Close-for-each-Calendar-Month?-1.1.0.12"><span class="toc-item-num">1.1.0.12&nbsp;&nbsp;</span>What is the average Close for each Calendar Month?</a></span></li><li><span><a href="#In-other-words,-across-all-the-years,-what-is-the-average-Close-price-for-Jan,Feb,-Mar,-etc...-Your-result-will-have-a-value-for-each-of-these-months." data-toc-modified-id="In-other-words,-across-all-the-years,-what-is-the-average-Close-price-for-Jan,Feb,-Mar,-etc...-Your-result-will-have-a-value-for-each-of-these-months.-1.1.0.13"><span class="toc-item-num">1.1.0.13&nbsp;&nbsp;</span>In other words, across all the years, what is the average Close price for Jan,Feb, Mar, etc... Your result will have a value for each of these months.</a></span></li></ul></li></ul></li></ul></li><li><span><a href="#Great-Job!" data-toc-modified-id="Great-Job!-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Great Job!</a></span></li><li><span><a href="#Extra-Examples" data-toc-modified-id="Extra-Examples-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Extra Examples</a></span></li></ul></div>

# Spark DataFrames Project Exercise

Let's get some quick practice with your new Spark DataFrame skills, you will be asked some basic questions about some stock market data, in this case Walmart Stock from the years 2012-2017. This exercise will just ask a bunch of questions, unlike the future machine learning exercises, which will be a little looser and be in the form of "Consulting Projects", but more on that later!

For now, just answer the questions and complete the tasks below.

#### Use the walmart_stock.csv file to Answer and complete the  tasks below!

#### Start a simple Spark Session

In [1]:
import numpy as np
import pandas as pd
import pyspark
from pyspark import SparkConf, SparkContext, SQLContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf # @udf("integer") def myfunc(x,y): return x - y
from pyspark.sql import functions as F # stddev format_number date_format, dayofyear, when
from pyspark.sql.types import StructField, StringType, IntegerType, StructType

print([(x.__name__,x.__version__) for x in [np, pd, pyspark]])

spark = pyspark.sql.SparkSession.builder.appName('bhishan').getOrCreate()
sc = spark.sparkContext
sqlContext = SQLContext(sc)
sc.setLogLevel("INFO")

[('numpy', '1.17.1'), ('pandas', '0.25.1'), ('pyspark', '2.4.4')]

#### Load the Walmart Stock CSV File, have Spark infer the data types.

In [2]:
!head -3 ../data/walmart_stock.csv

Date,Open,High,Low,Close,Volume,Adj Close
2012-01-03,59.970001,61.060001,59.869999,60.330002,12668800,52.619234999999996
2012-01-04,60.209998999999996,60.349998,59.470001,59.709998999999996,9593300,52.078475

In [3]:
df = spark.read.csv('../data/walmart_stock.csv',inferSchema=True, header=True)

#### What are the column names?

In [4]:
df.columns

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']

#### What does the Schema look like?

In [5]:
df.printSchema()

root
 |-- Date: timestamp (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

#### Print out the first 5 columns.

In [6]:
df.head(5)

[Row(Date=datetime.datetime(2012, 1, 3, 0, 0), Open=59.970001, High=61.060001, Low=59.869999, Close=60.330002, Volume=12668800, Adj Close=52.619234999999996),
 Row(Date=datetime.datetime(2012, 1, 4, 0, 0), Open=60.209998999999996, High=60.349998, Low=59.470001, Close=59.709998999999996, Volume=9593300, Adj Close=52.078475),
 Row(Date=datetime.datetime(2012, 1, 5, 0, 0), Open=59.349998, High=59.619999, Low=58.369999, Close=59.419998, Volume=12768200, Adj Close=51.825539),
 Row(Date=datetime.datetime(2012, 1, 6, 0, 0), Open=59.419998, High=59.450001, Low=58.869999, Close=59.0, Volume=8069400, Adj Close=51.45922),
 Row(Date=datetime.datetime(2012, 1, 9, 0, 0), Open=59.029999, High=59.549999, Low=58.919998, Close=59.18, Volume=6679300, Adj Close=51.616215000000004)]

In [7]:
df.show(5)

+-------------------+------------------+---------+---------+------------------+--------+------------------+
|               Date|              Open|     High|      Low|             Close|  Volume|         Adj Close|
+-------------------+------------------+---------+---------+------------------+--------+------------------+
|2012-01-03 00:00:00|         59.970001|61.060001|59.869999|         60.330002|12668800|52.619234999999996|
|2012-01-04 00:00:00|60.209998999999996|60.349998|59.470001|59.709998999999996| 9593300|         52.078475|
|2012-01-05 00:00:00|         59.349998|59.619999|58.369999|         59.419998|12768200|         51.825539|
|2012-01-06 00:00:00|         59.419998|59.450001|58.869999|              59.0| 8069400|          51.45922|
|2012-01-09 00:00:00|         59.029999|59.549999|58.919998|             59.18| 6679300|51.616215000000004|
+-------------------+------------------+---------+---------+------------------+--------+------------------+
only showing top 5 rows

In [8]:
df.limit(5).toPandas()

        Date       Open       High        Low      Close    Volume  Adj Close
0 2012-01-03  59.970001  61.060001  59.869999  60.330002  12668800  52.619235
1 2012-01-04  60.209999  60.349998  59.470001  59.709999   9593300  52.078475
2 2012-01-05  59.349998  59.619999  58.369999  59.419998  12768200  51.825539
3 2012-01-06  59.419998  59.450001  58.869999  59.000000   8069400  51.459220
4 2012-01-09  59.029999  59.549999  58.919998  59.180000   6679300  51.616215

#### Use describe() to learn about the DataFrame.

In [9]:
df.describe().show()

+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|summary|              Open|             High|              Low|            Close|           Volume|        Adj Close|
+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|  count|              1258|             1258|             1258|             1258|             1258|             1258|
|   mean| 72.35785375357709|72.83938807631165| 71.9186009594594|72.38844998012726|8222093.481717011|67.23883848728146|
| stddev|  6.76809024470826|6.768186808159218|6.744075756255496|6.756859163732991|  4519780.8431556|6.722609449996857|
|    min|56.389998999999996|        57.060001|        56.299999|        56.419998|          2094900|        50.363689|
|    max|         90.800003|        90.970001|            89.25|        90.470001|         80898100|84.91421600000001|
+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+

In [10]:
df.describe().toPandas()

,summary,Open,High,Low,Close,Volume,Adj Close
0,count,1258,1258,1258,1258,1258,1258
1,mean,72.35785375357709,72.83938807631165,71.9186009594594,72.38844998012726,8222093.481717011,67.23883848728146
2,stddev,6.76809024470826,6.768186808159218,6.744075756255496,6.756859163732991,4519780.8431556,6.722609449996857
3,min,56.389998999999996,57.060001,56.299999,56.419998,2094900,50.363689
4,max,90.800003,90.970001,89.25,90.470001,80898100,84.91421600000001

## Bonus Question!
#### There are too many decimal places for mean and stddev in the describe() dataframe. Format the numbers to just show up to two decimal places. Pay careful attention to the datatypes that .describe() returns, we didn't cover how to do this exact formatting, but we covered something very similar. [Check this link for a hint](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.Column.cast)

If you get stuck on this, don't worry, just view the solutions.

In [11]:
summary = df.describe()
summary.printSchema()

root
 |-- summary: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- Volume: string (nullable = true)
 |-- Adj Close: string (nullable = true)

In [12]:
from pyspark.sql.functions import format_number

result = df.describe()
result.select(result['summary'],
              format_number(result['Open'].cast('float'),2).alias('Open'),
              format_number(result['High'].cast('float'),2).alias('High'),
              format_number(result['Low'].cast('float'),2).alias('Low'),
              format_number(result['Close'].cast('float'),2).alias('Close'),
              result['Volume'].cast('int').alias('Volume')
             ).show()

+-------+--------+--------+--------+--------+--------+
|summary|    Open|    High|     Low|   Close|  Volume|
+-------+--------+--------+--------+--------+--------+
|  count|1,258.00|1,258.00|1,258.00|1,258.00|    1258|
|   mean|   72.36|   72.84|   71.92|   72.39| 8222093|
| stddev|    6.77|    6.77|    6.74|    6.76| 4519780|
|    min|   56.39|   57.06|   56.30|   56.42| 2094900|
|    max|   90.80|   90.97|   89.25|   90.47|80898100|
+-------+--------+--------+--------+--------+--------+

In [13]:
result = df.describe()
result.select( [result['summary']] +
              
               [format_number(result[x].cast('float'),2).alias(x) 
               for x in result.columns if x !='summary']
             ).show()

+-------+--------+--------+--------+--------+-------------+---------+
|summary|    Open|    High|     Low|   Close|       Volume|Adj Close|
+-------+--------+--------+--------+--------+-------------+---------+
|  count|1,258.00|1,258.00|1,258.00|1,258.00|     1,258.00| 1,258.00|
|   mean|   72.36|   72.84|   71.92|   72.39| 8,222,093.50|    67.24|
| stddev|    6.77|    6.77|    6.74|    6.76| 4,519,781.00|     6.72|
|    min|   56.39|   57.06|   56.30|   56.42| 2,094,900.00|    50.36|
|    max|   90.80|   90.97|   89.25|   90.47|80,898,096.00|    84.91|
+-------+--------+--------+--------+--------+-------------+---------+

In [14]:
df.describe().show()

+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|summary|              Open|             High|              Low|            Close|           Volume|        Adj Close|
+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|  count|              1258|             1258|             1258|             1258|             1258|             1258|
|   mean| 72.35785375357709|72.83938807631165| 71.9186009594594|72.38844998012726|8222093.481717011|67.23883848728146|
| stddev|  6.76809024470826|6.768186808159218|6.744075756255496|6.756859163732991|  4519780.8431556|6.722609449996857|
|    min|56.389998999999996|        57.060001|        56.299999|        56.419998|          2094900|        50.363689|
|    max|         90.800003|        90.970001|            89.25|        90.470001|         80898100|84.91421600000001|
+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+

In [15]:
df.describe().toPandas()

,summary,Open,High,Low,Close,Volume,Adj Close
0,count,1258,1258,1258,1258,1258,1258
1,mean,72.35785375357709,72.83938807631165,71.9186009594594,72.38844998012726,8222093.481717011,67.23883848728146
2,stddev,6.76809024470826,6.768186808159218,6.744075756255496,6.756859163732991,4519780.8431556,6.722609449996857
3,min,56.389998999999996,57.060001,56.299999,56.419998,2094900,50.363689
4,max,90.800003,90.970001,89.25,90.470001,80898100,84.91421600000001

In [16]:
df_good = df.describe().toPandas()
df_good = pd.concat( [df_good.iloc[:, 0], df_good.iloc[:, 1:].astype(float).round(2)], axis=1)

df_good

  summary     Open     High      Low    Close       Volume  Adj Close
0   count  1258.00  1258.00  1258.00  1258.00      1258.00    1258.00
1    mean    72.36    72.84    71.92    72.39   8222093.48      67.24
2  stddev     6.77     6.77     6.74     6.76   4519780.84       6.72
3     min    56.39    57.06    56.30    56.42   2094900.00      50.36
4     max    90.80    90.97    89.25    90.47  80898100.00      84.91

In [17]:
df.describe().toPandas().applymap(lambda x: round(float(x),2)
  if x.replace('.','').isnumeric() else x)

  summary     Open     High      Low    Close       Volume  Adj Close
0   count  1258.00  1258.00  1258.00  1258.00      1258.00    1258.00
1    mean    72.36    72.84    71.92    72.39   8222093.48      67.24
2  stddev     6.77     6.77     6.74     6.76   4519780.84       6.72
3     min    56.39    57.06    56.30    56.42   2094900.00      50.36
4     max    90.80    90.97    89.25    90.47  80898100.00      84.91

#### Create a new dataframe with a column called HV Ratio that is the ratio of the High Price versus volume of stock traded for a day.

In [18]:
df.show(5)

+-------------------+------------------+---------+---------+------------------+--------+------------------+
|               Date|              Open|     High|      Low|             Close|  Volume|         Adj Close|
+-------------------+------------------+---------+---------+------------------+--------+------------------+
|2012-01-03 00:00:00|         59.970001|61.060001|59.869999|         60.330002|12668800|52.619234999999996|
|2012-01-04 00:00:00|60.209998999999996|60.349998|59.470001|59.709998999999996| 9593300|         52.078475|
|2012-01-05 00:00:00|         59.349998|59.619999|58.369999|         59.419998|12768200|         51.825539|
|2012-01-06 00:00:00|         59.419998|59.450001|58.869999|              59.0| 8069400|          51.45922|
|2012-01-09 00:00:00|         59.029999|59.549999|58.919998|             59.18| 6679300|51.616215000000004|
+-------------------+------------------+---------+---------+------------------+--------+------------------+
only showing top 5 rows

In [19]:
df.count() # total rows

1258

In [20]:
df.select('Date').distinct().count() # total distinct rows

1258

In [21]:
# I do not have to do groupBy, just to division

df.withColumn("HV Ratio", df.High / df.Volume).show(1)

+-------------------+---------+---------+---------+---------+--------+------------------+--------------------+
|               Date|     Open|     High|      Low|    Close|  Volume|         Adj Close|            HV Ratio|
+-------------------+---------+---------+---------+---------+--------+------------------+--------------------+
|2012-01-03 00:00:00|59.970001|61.060001|59.869999|60.330002|12668800|52.619234999999996|4.819714653321546E-6|
+-------------------+---------+---------+---------+---------+--------+------------------+--------------------+
only showing top 1 row

#### What day had the Peak High in Price?

In [22]:
df.orderBy(F.desc('High')).limit(1).show() # or, take(1)

+-------------------+---------+---------+-----+---------+-------+---------+
|               Date|     Open|     High|  Low|    Close| Volume|Adj Close|
+-------------------+---------+---------+-----+---------+-------+---------+
|2015-01-13 00:00:00|90.800003|90.970001|88.93|89.309998|8215400|83.825448|
+-------------------+---------+---------+-----+---------+-------+---------+

In [23]:
df.orderBy(df['High'].desc()).head(1)[0][0]

datetime.datetime(2015, 1, 13, 0, 0)

#### What is the mean of the Close column?

In [24]:
from pyspark.sql.functions import mean

df.select(mean('Close')).show()

+-----------------+
|       avg(Close)|
+-----------------+
|72.38844998012726|
+-----------------+

#### What is the max and min of the Volume column?

In [25]:
df.select([F.max(df['Volume']), F.min(df['Volume'])]).show()

+-----------+-----------+
|max(Volume)|min(Volume)|
+-----------+-----------+
|   80898100|    2094900|
+-----------+-----------+

In [26]:
df.select([x(df['Volume']) 
           for x in [F.max, F.min ]]).show()

+-----------+-----------+
|max(Volume)|min(Volume)|
+-----------+-----------+
|   80898100|    2094900|
+-----------+-----------+

#### How many days was the Close lower than 60 dollars?

In [27]:
df.filter(df['Close'] < 60).count()

81

In [28]:
df.filter("Close < 60").count()

81

In [29]:
df.filter("Close < 60").select(F.count('Close')).show()

+------------+
|count(Close)|
+------------+
|          81|
+------------+

#### What percentage of the time was the High greater than 80 dollars ?
#### In other words, (Number of Days High>80)/(Total Days in the dataset)

In [32]:
(df.filter("High > 80").count()*1.0 / df.count())* 100.0

9.141494435612083

#### What is the Pearson correlation between High and Volume?
#### [Hint](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrameStatFunctions.corr)

In [33]:
df.select(F.corr("High", "Volume")).show()

+-------------------+
| corr(High, Volume)|
+-------------------+
|-0.3384326061737161|
+-------------------+

#### What is the max High per year?

In [34]:
yeardf = df.withColumn('Year', F.year("Date"))
yeardf.show(1)

+-------------------+---------+---------+---------+---------+--------+------------------+----+
|               Date|     Open|     High|      Low|    Close|  Volume|         Adj Close|Year|
+-------------------+---------+---------+---------+---------+--------+------------------+----+
|2012-01-03 00:00:00|59.970001|61.060001|59.869999|60.330002|12668800|52.619234999999996|2012|
+-------------------+---------+---------+---------+---------+--------+------------------+----+
only showing top 1 row

In [35]:
max_df = yeardf.groupby('Year').max()
max_df.show()

+----+-----------------+---------+---------+----------+-----------+-----------------+---------+
|Year|        max(Open)|max(High)| max(Low)|max(Close)|max(Volume)|   max(Adj Close)|max(Year)|
+----+-----------------+---------+---------+----------+-----------+-----------------+---------+
|2015|        90.800003|90.970001|    89.25| 90.470001|   80898100|84.91421600000001|     2015|
|2013|        81.209999|81.370003|    80.82| 81.209999|   25683700|        73.929868|     2013|
|2014|87.08000200000001|88.089996|86.480003| 87.540001|   22812400|81.70768000000001|     2014|
|2012|        77.599998|77.599998|76.690002| 77.150002|   38007300|        68.568371|     2012|
|2016|             74.5|75.190002|73.629997| 74.300003|   35076700|        73.233524|     2016|
+----+-----------------+---------+---------+----------+-----------+-----------------+---------+

In [36]:
max_df.select('Year', 'max(High)').show()

+----+---------+
|Year|max(High)|
+----+---------+
|2015|90.970001|
|2013|81.370003|
|2014|88.089996|
|2012|77.599998|
|2016|75.190002|
+----+---------+

In [37]:
(df.withColumn('Year', F.year('Date'))
 .groupBy('Year').max()
 .select('Year', 'max(High)')
).show()

+----+---------+
|Year|max(High)|
+----+---------+
|2015|90.970001|
|2013|81.370003|
|2014|88.089996|
|2012|77.599998|
|2016|75.190002|
+----+---------+

In [38]:
# For pandas
dfp = df.toPandas()

(dfp[['Date','High']]
 .groupby(dfp['Date'].dt.year)['High']
 .max()
 .reset_index()
)

   Date       High
0  2012  77.599998
1  2013  81.370003
2  2014  88.089996
3  2015  90.970001
4  2016  75.190002

#### What is the average Close for each Calendar Month?
#### In other words, across all the years, what is the average Close price for Jan,Feb, Mar, etc... Your result will have a value for each of these months.

In [39]:
(df.withColumn('Month', F.month('Date'))
 .groupBy('Month').avg()
 .select('Month', 'avg(High)')
 .orderBy('Month')
).show()

+-----+-----------------+
|Month|        avg(High)|
+-----+-----------------+
|    1|71.97009924752473|
|    2|71.72845387628868|
|    3|72.20289709345795|
|    4|73.45123863809525|
|    5|72.71783049056604|
|    6| 72.9262265471698|
|    7|74.77878527102803|
|    8|73.51781822727274|
|    9|72.60294148039216|
|   10|72.12963649090909|
|   11|72.52673264356439|
|   12|73.35566025471698|
+-----+-----------------+

In [40]:
(dfp[['Date','High']]
 .groupby(dfp['Date'].dt.month)['High']
 .max()
 .reset_index()
)

    Date       High
0      1  90.970001
1      2  88.000000
2      3  84.000000
3      4  82.279999
4      5  79.959999
5      6  77.760002
6      7  78.690002
7      8  79.000000
8      9  77.730003
9     10  79.370003
10    11  88.089996
11    12  87.440002

# Great Job!

# Extra Examples

In [41]:
(df.select('Date',
           F.date_format('Date', 'u').alias('dayofweek'),
           F.date_format('Date', 'E').alias('dayname'))
 .show()
)

+-------------------+---------+-------+
|               Date|dayofweek|dayname|
+-------------------+---------+-------+
|2012-01-03 00:00:00|        2|    Tue|
|2012-01-04 00:00:00|        3|    Wed|
|2012-01-05 00:00:00|        4|    Thu|
|2012-01-06 00:00:00|        5|    Fri|
|2012-01-09 00:00:00|        1|    Mon|
|2012-01-10 00:00:00|        2|    Tue|
|2012-01-11 00:00:00|        3|    Wed|
|2012-01-12 00:00:00|        4|    Thu|
|2012-01-13 00:00:00|        5|    Fri|
|2012-01-17 00:00:00|        2|    Tue|
|2012-01-18 00:00:00|        3|    Wed|
|2012-01-19 00:00:00|        4|    Thu|
|2012-01-20 00:00:00|        5|    Fri|
|2012-01-23 00:00:00|        1|    Mon|
|2012-01-24 00:00:00|        2|    Tue|
|2012-01-25 00:00:00|        3|    Wed|
|2012-01-26 00:00:00|        4|    Thu|
|2012-01-27 00:00:00|        5|    Fri|
|2012-01-30 00:00:00|        1|    Mon|
|2012-01-31 00:00:00|        2|    Tue|
+-------------------+---------+-------+
only showing top 20 rows